.mapTitle {
  padding: 5px;
}
/* * VISUAL */
.visual {
  background-color: #f6f5ef;
}

/* * camping-map */
#camping-map {
  position: relative;
  width: 1100px;
}
#camping-map.maininfo .campinfo {
  height: 1280px;
  width: 1100px;
  padding-bottom: 90px;
}
#camping-map.maininfo .campinfo:after {
  content: "";
  display: flex;
  float: none;
  clear: both;
}
#camping-map.maininfo .campinfo .kmap {
  float: left;
  width: 200px;
  border-right: 2px #c8c8c8 dashed;
  height: 480px;
  padding: 155px 50px 15px 0;
}
#camping-map.maininfo .campinfo .kmap .kmapborder{
  border: 2px solid #333;
  border-radius: 20px;
  background-color: #FFf;
  width: 200px;
  height: 440PX;
  padding: 10px;
}
#camping-map.maininfo .campinfo .kmap h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: -0.03em
}
#camping-map.maininfo .campinfo .kmap h2 span {
  color: #558001
}
#camping-map.maininfo .campinfo .kmap p.csub_head {
  margin: 3px 0 20px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
}
#camping-map.maininfo .campinfo .kmap #campMap area {
  outline: 0
}


/* * info-right */
#camping-map.maininfo .info-right {
  position: relative;
  top: 155px;
  left: 270px;
  width: 1200px;
  height: 460px;
}

/* * KAKAOMAP */
#camping-map.maininfo .info-right #kakaomap {
  position: absolute;
  top: 0;
  left: 15px;
  width: 900px;
  height: 460px;
  border: 2px solid #333;
  border-radius: 15px;
}

/* * info-bottom */
#camping-map.maininfo .info-bottom{
  position: relative;
  top: 200px;
  height: 500px;
  width: 1200px;
  border-top: 2px #c8c8c8 dashed;
}


#camping-map.maininfo .info-bottom .selectsido {
  position: absolute;
  top: 20px;
  left: 10px;
}
#camping-map.maininfo .info-bottom .searchSelect {
  outline: none;
  min-width: 50px;
  height: 36px;
  padding: 4px 40px 6px 15px;
  border: 1px solid #bbb;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 19px;
  color: #444;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background: url('../img/select_arrow.gif') right center no-repeat;
  background: none\9;
  background-color: #fff;
}
#camping-map.maininfo .info-bottom .camp_content{
  position: absolute;
  top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#camping-map.maininfo .info-bottom .camp_content .items {
  width: 375px;
  height: 270px;
  margin: 0 20px 20px 0;
  border: 2px solid #000;
  border-radius: 10px;
}
#camping-map.maininfo .info-bottom .camp_content .items .photo a img {
  border-radius: 10px;
  width: 330px;
  height: 180px;
  margin: 10px auto;
}
#camping-map.maininfo .info-bottom .camp_content .items .cont {
  width: 330px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
}
#camping-map.maininfo .info-bottom .camp_content .items .cont .tt {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: 700;
}
#camping-map.maininfo .info-bottom .camp_content .items .cont .mcont {
  font-size: 0.9rem;
}

/* * news */
.news {
  background-color: #f7e5d2;
}
.news .inner {
  height: 250px;
  padding: 25px 0;
}
.news h2 {
  padding: 10px 0 0 0;
  font-size: 1.4rem;
  color: #333;
  font-weight: 400;
  margin-left: 33px;
}
.news h2 span {
  color: #ff4000;
  font-weight: 700;
}
.news .swiper {
  height: 200px;
}

.news .swiper-slide {
  width: 100px;
  height: 200px;
  margin: auto;
}
.news .swiper-slide a {
  background-color: #CDD1B3;
  margin: 0 auto;
  text-align: center;
}
.news .swiper-slide a img {
  display: block;
  margin: 10px auto;
  border: 3px solid #fff;
  border-radius: 10px;
  width: 175px;
  height: 125px;
}
.news .swiper-slide a span {
  display: block;
  color: #000;
  font-weight: 700;
}
.news .swiper-prev,
.news .swiper-next {
  width: 22px;
  height: 22px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 3;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.news .swiper-prev {
  left: 0;
  
}
.news .swiper-next {
  right: 0;
}
.news .swiper-prev:hover,
.news .swiper-next:hover {
  background-color: #333;
  color: #fff;
}


/* * NOTICE */
.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #4C4637;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #CDD1B3;
}
.notice .notice-line .inner {
  height: 70px;
  display: flex;
}
.notice .notice-line .inner__left {
  width: 60%;
  height: 100%;
  background-color: #4C4637;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 60px;
}
.notice .notice-line .inner__left .swiper{
  height: 62px;
  flex-grow: 1;
}
.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
}
.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  color: #fff;
  font-size: 1.7rem;
}
.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion span {
  font-size: 0.9rem;
  font-weight: 700;
  opacity: .7;
}
.notice .notice-line .inner__right .toggle-promotion h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-right: 30px;
}
.notice .notice-line .inner__right .toggle-promotion {
  width: 330px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 1.7rem;
}


/* * PROMOTION */
.notice .promotion {
  /*width: auto;*/
  height: 515px;
  background-color: #f6f5ef;
  position: relative;
  transition: height .4s;
  overflow: hidden;
  padding: 25px 0;
}
.notice .promotion.hide {
  height: 0;
}
.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  position: absolute;
  top: 60px;
  /* * 요소 가운데 배치 */
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide {
  border: 3px solid #333;
  height: 425px;
  border-radius: 10px;
  opacity: .5;
  transition: opacity 0.7s;
  position: relative;
}
.notice .promotion .swiper-slide-active {
  opacity: 1;
}
.notice .promotion .swiper-slide img {
  width: 480px;
  object-fit: cover;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .promotion .swiper-slide .btn {
  width: 200px;
  position: absolute;
  bottom: 18px;
  left: 0;
  right: 0;
  margin: auto;
}
.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  width: 13px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -370px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -390px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}



/* * SCROLL TO TOP*/
#to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


