.signin {
  margin-top: 120px;
  padding: 130px 0 180px;
  background-image: url("../signin/img/bg11.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.signin h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}
.signin__card {
  width: 500px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #F6F5F0;
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
  color: #555;
}
.signin__card h2 {
  padding: 30px;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.signin__card h2 strong {
  font-weight: 700;
  color: #006633;
}
.signin__card form {
  padding: 20px 22px;
}
.signin__card form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #fd8181;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.signin__card form [type="submit"] {
  background-color: #006633;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.signin__card ul{
  padding: 0 22px;
}
.signin__card ul li {
  height: 50px;
  width: 450px;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
}
.signin__card li a span {
  position: absolute;
  left: 55px;
  height: 50px;
  border-left: 3px solid #fff;
}
.signin__card li a {
  color: #fff;
}
.signin__card li img {
  position: absolute;
  left: 3px;
  top: 2px;
  width: 46px;
  z-index: 9;
  border-radius: 12px;
}
.signin__card li:nth-child(1) {
  background-color: #fee500 ;
}
.signin__card li:nth-child(2) {
  background-color: #03c75a ;
}
.signin__card li:nth-child(3) {
  background-color: #4285F4 ;
}

.signin__card form p {
  font-size: 12px;
  color: #006633;
  text-align: center;
  margin: 12px 0;
}
.signin__card .actions {
  display: flex;
  border-top: 1px solid #ddd;
}
.signin__card .actions a {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  padding: 20px;
  color: #555;
  font-size: 14px;
  border-right: 1px solid #ddd;
}
.signin__card .actions a:hover {
  text-decoration: underline;
}
.signin__card .actions a:last-child {
  border-right: none;
}