<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--* Open Graph-->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="chabageottae" />
  <meta property="og:title" content="차박어때" />
  <meta property="og:description" content="국내의 오지/노지캠핑,무료캠핑장,글램핑,카라반 정보를 위치기반 지도 공유 서비스" />
  <meta property="og:image" content="/img/logo.png" />
  <!-- <meta property="og:url" content="" /> -->

  <!--* Twitter Card-->
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:site" content="chabageottae" />
  <meta property="twitter:title" content="차박어때" />
  <meta property="twitter:description" content="국내의 오지/노지캠핑,무료캠핑장,글램핑,카라반 정보를 위치기반 지도 공유 서비스" />
  <meta property="twitter:image" content="/img/logo.png" />
  <!-- <meta property="twitter:url" content="" /> -->

  <!-- * 파비콘 -->
  <link rel="icon" href="/favicon.ico">

  <!-- * 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">

  <!-- * 메터리얼 아이콘 -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <!-- * CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/board.css">

  <!-- * JS -->
  <script defer src="/js/common.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  <title>차박어때</title>

</head>

<body class="user">
  <!-- * HEADER -->
  <header>
    <div class="inner">

      <a href="/" class="logo">
        <img src="/img/logo.png" alt="CHABAGEOTTAE" />
      </a>

      <!-- * SUB MENU -->
      <div class="sub-menu">
        <ul class="menu">
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a href="/join" sec:authorize="!isAuthenticated()">회원가입</a>
          </li>
          <li>
            <a th:href="@{/login}" sec:authorize="!isAuthenticated()">로그인</a>
          </li>
          <li>
            <a th:href="@{/logout}" sec:authorize="isAuthenticated()">로그아웃</a>
          </li>
        </ul>
      </div>

      <!-- * MAIN MENU -->
      <ul class="main-menu">
        <li class="item">
          <div class="item__name">NEWS</div>
          <div class="item__contents">
            <ul>
              <li><a href="/mainMenu/newsNotice">공지사항</a></li>
              <li><a href="/mainMenu/newsUpdate">업데이트</a></li>
              <li><a href="/mainMenu/newsEvent">이벤트</a></li>
            </ul>
          </div> 
        </li>
        <li class="item">
          <div class="item__name">PLACE</div>
          <div class="item__contents">
              <ul class="contents_menu">

                <li><a href="/mainMenu/place02">유료캠핑</a></li>
                <li><a href="/mainMenu/place03">글램핑/카라반</a></li>
            </ul>
           </div>
          </li>
        <li class="item">
          <div class="item__name">TIP</div>
          <div class="item__contents">
            <ul>
              <li><a href="/mainMenu/campTip">캠핑 팁</a></li>
              <li><a href="/mainMenu/campFood">캠핑 음식</a></li>
              <li><a href="/mainMenu/campTent">텐트 설치 방법</a></li>
            </ul>
          </div> 
        </li>
        <li class="item">
          <div class="item__name">STORE</div>
          <div class="item__contents">
            <ul>
              <li><a href="/mainMenu/storeBuy">삽니다.</a></li>
              <li><a href="/mainMenu/storeSell">팝니다.</a></li>
            </ul>
          </div> 
        </li>
        <li class="item">
          <div class="item__name">COMMUNITY</div>
          <div class="item__contents">
            <ul>
              <li><a href="/mainMenu/commuAll">전체글</a></li>
              <li><a href="/mainMenu/commuFree">자유게시판</a></li>
              <li><a href="/mainMenu/commuReview">캠핑 후기</a></li>
            </ul>
          </div> 
        </li>
      </ul>
    </div>
  </header>

 <div class="board">
  <div class="inner">
    <section class="board_wrap">


      <div class="board_title">
        <strong>전체글</strong>
        <ul class="news_list">
          <li><a href="/mainMenu/commuAll">전체글</a></li>
          <li><a href="/mainMenu/commuFree">자유게시판</a></li>
          <li><a href="/mainMenu/commuReview">캠핑장 후기</a></li>
        </ul>  
      </div>
      <div class="board_list_wrap">
        <div class="board_list">
          <div class="top">
            <div class="num">번호</div>
            <div class="title">제목</div>
            <div class="writer">글쓴이</div>
            <div class="date">작성일</div>
            <div class="count">조회</div>
          </div>
          <div th:each="board : ${boards.content}">
            <div class="num" th:text="${board.id}"></div>
            <div class="title" th:onclick="|location.href='@{/board/{id}(id=${board.id})}'|" th:text="${board.title}"></div>
            <div class="writer" th:text="${board.user.name}"></div>
            <div class="date" th:text="${board.createDate}"></div>
            <div class="count" th:text="${board.count}"></div>
          </div>
        </div>
        <input type = "hidden" th:value="${boards.number}" id="bn"/>
        <input type = "hidden" th:value="${boards.totalPages}" id="max"/>
        <div class="board_page">
          <a th:href="@{/mainMenu/commuAll/(page=0)}" class="bt first"> << </a>
          <a th:unless="${boards.first}" th:href="@{/mainMenu/commuAll/(page=${boards.number}-1)}" class="bt prev"> < </a>
          <script>
            let n = parseInt($("#bn").val()) + 1;
            let max = $("#max").val();
            let start = (Math.floor((n - 1) / 10) * 10) + 1;
            let end = start + 9;
            end = Math.min(end, max);
            for (var i = start; i <= end; i++) {
              document.write('<a href="/mainMenu/commuAll/?page=' + (i - 1) + '" class="num">' + i + '</a>');
            }

          </script>
          <a th:unless="${boards.last}"  th:href="@{/mainMenu/commuAll/(page=${boards.number}+1)}" class="bt next"> > </a>
          <a th:href="@{/mainMenu/commuAll/(page=${boards.totalPages-1})}" class="bt last"> >> </a>
        </div>

        <div class="bt_wrap">
          <a href="#" th:href="@{/saveForm/commuAll}" sec:authorize="isAuthenticated()">글쓰기</a>
          <a href="#">목록</a>
        </div>

      </div>

    </section>

  </div>
  
 </div> 


  <!-- * FOOTER -->
  <footer>
    <div class="inner">

      <ul class="menu">
        <li><a href="javascript:void(0)" class="green">개인정보처리방침</a></li>
        <li><a href="javascript:void(0)">홈페이지 이용약관</a></li>
        <li><a href="javascript:void(0)">광고 및 제휴 문의</a></li>
        <li><a href="/join" sec:authorize="!isAuthenticated()">회원가입</a></li>
        <li><a href="/login">로그인</a></li>
        <li><a href="javascript:void(0)">고객센터</a></li>
      </ul>

      <div class="info">
        <span>사업자등록번호 : </span>
        <span>(주)차박어떄 대표이사 차차차</span>
        <span>TEL : 033) 1234-1234 / FAX : 033) 1234-1234</span>
      </div>

      <p class="copyright">
        &copy; <span class="this-year"></span> chabageottae. All Rights Reserved.
      </p>
      <img src="/img/logo.png" alt="STAR BUCKS" class="logo" width="150" />

    </div>
  </footer>


</body>

</html>