<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--<sec:authorize access="isAuthenticated()">-->
<!--    <sec:authentication property="principal" var="principal"/>-->
<!--</sec:authorize>-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <link rel="stylesheet" href="/css/score.css">
</head>
<body>
<div class="container">
    <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
    <span sec:authorize="isAuthenticated()">
        <span th:if="${#authentication.principal.user.id} == ${board.user.id}">
            <a th:href="@{/board/{id}/updateForm(id=${board.id})}" class="btn btn-warning">수정</a>
            <button id="btn-delete" class="btn btn-danger">삭제</button>
        </span>
    </span>
    <br/>
    <br/>
    <div>
        글 번호 : <span id="id" th:text="${board.id}"></span>
        작성자 : <span th:text="${board.user.name}"></span>
    </div>

    <br />
    <div>
        <h3 th:text="${board.title}"></h3>
    </div>
    <hr />
    <div>
        <div th:utext="${board.content}"></div>
    </div>
    <hr />

<!--    댓글작성-->
    <div class="card">
        <form>
            <div class="card-body">
                <textarea id="reply-content" class="form-control" rows="1"></textarea>
                <!--                평점-->
                <div>평점:</div>
                <div class="rating">
                    <span class="star" id="star1" onclick="rate(1)">&#9733;</span>
                    <span class="star" id="star2" onclick="rate(2)">&#9733;</span>
                    <span class="star" id="star3" onclick="rate(3)">&#9733;</span>
                    <span class="star" id="star4" onclick="rate(4)">&#9733;</span>
                    <span class="star" id="star5" onclick="rate(5)">&#9733;</span>
                </div>
                <p id="ratingMessage">별을 선택하세요.</p>
            </div>
            <span sec:authorize="isAuthenticated()">
                <input type="hidden" th:id="userId" th:value="${#authentication.principal.user.id}" />
                <input type="hidden" th:id="boardId" th:value="${board.id}" />
                <div class="card-footer">
                    <button type="button" id="btn-reply-save" class="btn btn-primary">등록</button>
                </div>

            </span>
            <span sec:authorize="!isAuthenticated()">
                <div class="card-footer" onclick="alert('로그인을 해주세요')">
                    <a class="btn btn-primary" th:href="@{/login}" sec:authorize="!isAuthenticated()">등록</a>
                </div>
            </span>
        </form>
    </div>

    <br />
    <div class="card">
        <div class="card-header">댓글 리스트</div>
        <ul id="reply-box" class="list-group" th:each="reply : ${board.replys}">
                <li th:id="${reply.id}" class="list-group-item d-flex justify-content-between">
                    <div th:text="${ratingOptions[reply.rating]}"></div>
                    <div th:utext="${reply.content}"></div>
                    <div class="d-flex">
                        <div class="font-italic">
                            작성자 : <span th:text="${reply.user.name}"></span>
                        </div>
                        <span sec:authorize="isAuthenticated()">
                            <span th:if="${#authentication.principal.user.id} == ${reply.user.id}">
                                <button type="button" th:onclick="index.replyDelete([[${board.id}]],[[${reply.id}]]);"
                                        class="btn btn-danger" >삭제</button>
                            </span>
                        </span>

                    </div>

                </li>
        </ul>
    </div>


</div>
<script src="/js/board.js"></script>
</body>
</html>